body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
	margin: 0;
}

#attendance-record {
  height: 600px;
  width: 700px;
  position: relative;
}

.button {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 10px;
  background-color: #fcfcfc;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.button img {
  width: 20px;
  height: 20px;
}

.button span {
  padding-left: 5px;
}

.button:hover {
  background-color: #96c7a0;
}

.save-participant {
  background-color: #2eca91;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.row-container {
  display: flex;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px;
  align-items: center;
}

.list-footer {
  display: flex;
  position: absolute;
  bottom: 0;
}

.header .name-panel>label {
  padding-left: 60px;
}

.name-panel {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.name-panel .name {
  padding-left: 10px;
}

.check-opt {
  flex-basis: 25%;
}
